.image1{
  width: 80px;
  height: 80px;
  border: solid 5px darkorchid ;
  }
.image2{
  width: 80px;
  height: 80px;
  border: solid 5px chocolate;
  }
.image3{
  width: 80px;
  height: 80px;
  border: solid 5px crimson;
  }

